.realtors{
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;
    padding: 3rem;

    display: grid;
    align-content: center;
    justify-content: center;
    // centering headline
    justify-items: center;
    grid-row-gap: 5vh;

    @media only screen and (max-width: $bp-medium){
        grid-column: 1 / -1;
    }


    &__list{
        display: grid;
        // picture is set to 7 rem so min-content will work, max-contetn to avoid any linebreaks
        grid-template-columns: min-content max-content;

        grid-column-gap: 2rem;
        // if youre on a large display the spacing will be appropriate
        // TODO: doesnt work
        grid-row-gap: 5vh;
        
        // align items within the cell
        align-items: center;

        @media only screen and (max-width: $bp-medium){
            grid-template-columns: repeat(3, min-content max-content);
        }

        @media only screen and (max-width: $bp-small){
            grid-template-columns: min-content max-content;
        }
    }
    &__img{
        width: 7rem;
        border-radius: 50%;
        display: block;
    }
    &__sold{
        text-transform: uppercase;
        color: $color-grey-light-1;
        margin-top: -3px;
    }

}